// Variables
// Colors
$solid_black: #1b1b1b
$solid_white: #fefefe
header
    padding: 1em .5em
    background: $solid_black
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

figure.iso
    padding: 0px
    margin: 0px
    width: 64px
    height: 64px
    overflow: hidden

h1.logo
    padding: 0px
    font-size: 18px
    color: $solid_white